# Core functionality - changes here should be rare!
/src/app.py                   @enzorivaset2125-max
/src/backend/database.py      @enzorivaset2125-max
/src/backend/routers/auth.py  @enzorivaset2125-max

# The frontend will need refactored soon to be more object oriented.
/src/static/   @enzorivaset2125-max
